<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hqy.cloud.auth.mapper.AccountTkMapper">

    <select id="queryAccountByUsernameOrEmail" resultType="com.hqy.cloud.auth.entity.Account">
        SELECT
            id,
            password,
            username,
            email,
            phone,
            roles,
            status
        from t_account
        WHERE username = #{usernameOrEmail} or email = #{usernameOrEmail} AND deleted = 0
    </select>

    <select id="getAccountInfo" resultType="com.hqy.cloud.account.dto.AccountInfoDTO">
        SELECT
        a.id,a.username,a.email,a.phone,a.roles,a.status,
        p.avatar,p.nickname,p.intro,p.birthday,p.sex
        FROM
        (SELECT * FROM t_account_profile WHERE `id` = #{id} ) p,
        t_account a
        WHERE a.id = #{id}
    </select>


    <select id="getAccountInfos" resultType="com.hqy.cloud.account.dto.AccountInfoDTO">
        SELECT
        a.id,a.username,a.email,a.phone,a.roles,a.status,
        p.avatar,p.nickname,p.intro,p.birthday,p.sex
        FROM t_account a
        LEFT JOIN t_account_profile p
        ON a.id = p.id
        WHERE a.id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="getAccountInfoByUsernameOrEmail" resultType="com.hqy.cloud.account.dto.AccountInfoDTO">
        SELECT
        a.id,a.username,a.email,a.phone,a.roles,a.status,
        p.avatar,p.nickname,p.intro,p.birthday,p.sex
        FROM t_account a
        LEFT JOIN t_account_profile p
        ON a.id = p.id
        WHERE a.username = #{usernameOrEmail} or a.email = #{usernameOrEmail}
    </select>


    <select id="getPageAccountInfos" resultType="com.hqy.cloud.account.dto.AccountInfoDTO">
        SELECT
        a.id,a.username,a.email,a.phone,a.roles,a.status,a.created,
        p.avatar,p.nickname,p.intro,p.birthday
        FROM t_account a
        LEFT JOIN t_account_profile p ON a.id = p.id
        LEFT JOIN t_account_role ar ON  a.id = ar.account_id
        WHERE a.deleted = 0 AND ar.level &gt;= #{maxLevel}
        <if test="username != null and username != ''">
            AND a.username like concat('%', #{username}, '%')
        </if>
        <if test="nickname != null and nickname != ''">
            AND p.nickname like concat('%', #{nickname}, '%')
        </if>
        ORDER BY id DESC
    </select>


</mapper>