<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hqy.cloud.auth.mapper.RoleMenuMapper">


    <select id="getManuPermissionsByRoleIds" resultType="java.lang.String">
        SELECT m.`permission`
        FROM t_admin_role_menu rm
                 LEFT JOIN t_admin_menu  m ON rm.`menu_id` = m.`id`
        WHERE rm.`role_id` IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>




</mapper>